/* general styles*/

*,*:after,*:before{
	box-sizing:border-box;
	padding:0;
	margin:0;
	transition:.5s ease-in-out;
}

ul{
	list-style:none;
}

a{
	text-decoration:none;
	outline:none;
}

img{
	display:block;
	width:100%;
}
h1,h2,h3,h4,h5,h6{
	font-family:'Playfair Display';
	font-weight:normal;
	letter-spacing:1px;
}

body{
	font-family:'Open Sans', arial, sans-serif;
	font-size;14px;
	line-height:1;
	color: #11041A;
	background:#F5F5F5;
}

header:after, .container:after, footer:after, .widget-post-list li:after, #subscribe:after{
	content: "";
	display:table;
	clear:both;
}

.container{
	margin:0 auto;
	width:100%;
	max-width:960px;
	padding:0 15px;
}

/*header*/

header{
	width:100%;
	background:#160920;
	box-shadow:3px 3px 1px rgba(0,0,0,.05);
	padding:15px 0;
	margin-bottom:30px;
	position:relative;
}

nav{
	width:100%;
}

/* logo */

.logo{
	color:white;
	display:block;
	float:left;
	
}

.logo span{
	color:white;
	text-transform:uppercase;
	display:inline-block;
	width:30px;
	height:30px;
	margin:-35px 95px;
	text-shadow:2px 2px 1px rgba(0,0,0,.4);
}

.logo img{
	width:180px;
}

/* main menu */

#menu{
	float:right;
}

#menu li{
	display:inline-block;
	margin-right:50px;
	
}

#menu a{
	color:white;
	text-transform:uppercase;
	letter-spacing:1px;
	font-weight:600;
	display:block;
	line-height:40px;
}

#menu a:hover{
	color: #A85BE3;
}

#menu li:last-child{
	margin-right:0;
}

/* search */

#searchForm{
	float:right;
	margin-left:46px;
	display:inline-block;
	position:relative;
}

#searchForm input{
	width:170px;
	float:left;
	border:none;
	padding-left:10px;
	height:40px;
	overflow:hidden;
	outline:none;
	color:white;
	font-style:italic;
	background:#160920;
}

#searchForm button{
	background:transparent;
	height:40px;
	border:none;
	position:absolute;
	right:15px;
	color:#A85BE3;
	cursor:pointer;
	font-size:18px;
}

#searchForm input:focus{
	outline:2px solid #EBEBE3;
}

/*menu button, when width = 768px */

.nav-toggle{
	display:none;
	position:relative;
	float:right;
	width:40px;
	height:40px;
	margin-left:20px;
	background:#491372;
	cursor:pointer;
}

.nav-toggle span{
	display:block;
	position:absolute;
	top:19px;
	left:8px;
	right:8px;
	height:2px;
	background:white;
}

.nav-toggle span:before, .nav-toggle span:after{
	content:"";
	position:absolute;
	display:block;
	left:0;
	width:100%;
	height:2px;
	background:white;
}

.nav-toggle span:before{
	top:-10px;
}

.nav-toggle span:after{
	bottom:-10px;
}


#menu.active{
	max-height:123px;
}

/*main div*/

.post-list{
	margin-bottom:30px;
	width:64%;
	float:left;
}

/* articles block */

.post{
	margin-bottom:35px;
}

.post-content p{
	line-height:1.5;
	padding-bottom:1em;
}

.post-image{
	margin-bottom:30px;
}

.category{
	margin-bottom:15px;
}

.category a{
	color:#700CBC;
	text-transform:uppercase;
}
.category a:hover{
	color: #A85BE3;
}

.post-title{
	margin-bottom:12px;
	font-size:26px;
}

/* block with "read more" and social */

.post-footer{
	border-top:1px solid #EBEBE3;
	border-bottom: 1px solid #EBEBE3;	
	position:relative;
	margin-top:15px;
}

.more-link{
	position:relative;
	display:inline-block;
	font-size:10px;
	text-transform:uppercase;
	color:white;
	line-height:44px;
	background: #3C3D41;
	padding:0 22px;
	letter-spacing:0.1em;
	white-space:nowrap;
}
.more-link:hover{
	color: #A85BE3;
}

.more-link::after{
	content: "";
	display:block;
	position:absolute;
	width:0;
	height:0;
	top:0;
	right:0;
	border:solid transparent;
	border-width:22px 18px;
	border-left-color: #3C3D41;
	transform:translateX(100%);
}

.post-social{
	position:absolute;
	left:auto;
	top:50%;
	right:0;
	text-align:right;
	transform:translateY(-50%);
	padding:0;
	font-size:12px;
}

.post-social a{
	display:inline-block;
	margin-left:8px;
	color:#A33AF2;
	width:25px;
	height:25px;
	line-height:23px;
	text-align:center;
	border-radius:50%;
	border:1px solid;
	padding:5px;
}

/*aside div*/

aside{
	width:33%;
	float:right;
}

/* widget block */

.widget{
	padding:20px 15px;
	background:white;
	font-size:13px;
	margin-bottom:30px;
	box-shadow:3px 3px 1px rgba(0,0,0,.05);
}

.widget-title{
	font-size:18px;
	padding:10px;
	margin-bottom:20px;
	text-align:center;
	border:2px solid #A33AF2;
	box-shadow:3px 3px 0 0 #700CBC;
}

.widget-category-list li{
	border-bottom:1px solid #EBEBE3;
	padding:10px 0;
	color:#210934;
	font-style:italic;
}

.widget-category-list li:last-child{
	border-bottom:none;
}

.widget-category-list li a{
	color:#700CBC;
	margin-right:6px;
	font-style:normal;
}

.widget-category-list li a:before{
	content:"\f105";
	display:inline-block;
	font-family:'FontAwesome';
	margin-right:10px;
	color: #c6c6c6;
}


.widget-posts-list li {
	border-top: 1px solid #EBEBE3;
	padding: 15px 0px;
	display:inline-block;
}

.widget-post-list li:nth-child(1){
	border-top:none;
}

.post-image-small{
	width:30%;
	float:left;
	margin-right:15px;
}

.widget-post-title{
	float:left;
}

/* subscribe */

#subscribe{
	position:relative;
	width:100%;
	padding:15px 0;
}

#subscribe input{
	width:100%;
	display:block;
	float:left;
	border: 2px solid #EBEBE3;
	padding:0 0 0 10px;
	height:40px;
	position:relative;
	outline:none;
	color:#9E9C9C;
	font-style:italic;
}

#subscribe button{
	padding:0 15px;
	background:transparent;
	height:40px;
	border:none;
	position:absolute;
	right:0;
	color:#A33AF2;
	cursor:pointer;
	font-size:18px;
}

#subscribe input:focus + button{
	background:#A85BE3;
	color:white;
}

	
/*footer*/

footer{
	padding:30px 0;
	background:#160920;
	color:white;
}

.footer-col{
	width:33.3%;
	float:left;
}

.footer-col a{
	color:white;
}

.footer-col:last-child{
	text-align:right;
}

.social-bar-wrap{
	text-align:center;
}

.social-bar-wrap a{
	padding:0 7px;
	font-size:18px;
}

/* media requests*/

@media (max-width:768px){
	
/* show the button to switch top navigation */

.nav-toggle{
	display:block;
}
header{
	padding:10px 0;
}	
	
/*hide the top menu, cancel the float, position it, menu height = height header*/

#menu{
	max-height:0;
	background:#160920;
	float:none;
	position:absolute;
	overflow:hidden;
	top:113;
	right:0;
	left:0;
	margin:0;
	padding:0;
	z-index:3;
}

/* do elements as block,so that they are located one below the other */

#menu li{
	display:block;
	padding-left:15px;
	border-bottom:1px solid #EBEBE3;
	margin-right:0;
}

/* cancel the float of left and right columns*/	

.post-list,aside{
	width:100%;
	float:none;
}
.widget-post-title{
	font-size:1.5em;
}
}
	
@media (max-width:480px){
	
/* aligning the logo to the center */

nav{
	text-align:center;
	
}

/* cancel logo float */

.logo{
	float:none;
	margin-bottom:15px;
}	
/* new menu position on the increased height of the header */

#menu{
	top:155px;
}	
	
/* search form position left */

#searchForm{
	float:left;
	margin-left:0;
}	

/* remove the top and bottom borders and align the button to the center */
	
.post-footer{
	border-top:none;
	border-bottom:none;
	text-align:center;
}

/* cancel the positioning of social network buttons */

.post-social{
	position:static;
	text-align:center;
	transform:none;
	margin-top:20px;
}
.widget-post-title{
	font-size:1.2em;
}

/* cancel float to footer's collumns  */

.footer-col{
	float:none;
	margin-bottom:20px;
	width:100%;
	text-align:center;
}
.footer-col:last-child{
	text-align:center;
	margin-bottom:0;
}
}	
	
	
	
	
	
	
	
	
	


	
	

	
	


	



	



	
	

	
	
	
	
	
	
	
	
	
	
	
	
	
	



	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	

